.drop-button {
	background-color: $primary;
	color: $white;
	padding: 14px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: $font-weight-bold;
	display: inline-block;
	min-width: 30%;
}